body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size:12px;
}
.no-overflow {
  overflow: hidden;
}

@import './App.css';
@import './NewsSummary.less';
@import './EventsSummary.less';
